:root {
  --primary-white-color: #ffffff;
  --title-text-color: #212121;
  --accent-color: #2196F3;
  --text-color: #757575;
  --background-color-wan: #2F303A;
  --backgroynd-color-two: #F5F4FA;


}

body {
  color: var(--title-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 0;
  
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
h1,h2,h3,h4,p{
  margin: 0;
  padding: 0;
}


.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1170px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-bottom: 94px;
}

.section-title {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color:var(--title-text-color);
}


/* heder */
.section-hed {
  background:var(--primary-white-color);
   
  border-bottom: 1px solid #ECECEC;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  padding: 24.5px 0;
}

.list {
  list-style: none;
}

.logo {
  display: flex;
  text-decoration: none;

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19; 
  
  color:var(--title-text-color);
}


/* <!-- Підвал --> */
.logo-color {
  color:var(--accent-color) 
}

.section-footer {
  background-color:var(--background-color-wan);
  padding: 60px 0 50px 0;
}

.logo.footer {
  color:var(--backgroynd-color-two);
}

.p-text {
  margin-bottom: 9px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color:var(--text-color);
}

.address  {
  padding-top: 20px;
  color:var(--primary-white-color);
}

.address .p-text {
  color:var(--primary-white-color) ;
}

.p-text.rgba {
  color: rgba(255, 255, 255, 0.6)
}

.logo-link {
  align-items: center;
}
/* end підвал */


.site-menu {
  display: flex;
  margin-left: 93px;

  font-size: 15px;
  line-height: 1.2;
  text-decoration: none;
}

.menu-item:not(:last-child) {
  margin-left: 0;
  margin-right: 50px;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-nav.list {
  justify-content: flex-end;
}

.main-nav .item+ .item {
  margin-left: 50px;
}

.menu-link {
  color: var(--title-text-color);
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.menu-link:hover {
  color: var(--accent-color);
}

.menu-link:focus{
  color:  var(--accent-color);
  outline: 1px solid var(--accent-color);
}
 
.menu-link.active{
  color:  var(--accent-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

/* button */
.button {
  color:#757575;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  text-decoration: none;
}
  
.button:hover {
  color: var(--accent-color);
}


.button.primary-top {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border-color:var(--accent-color);
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  letter-spacing: 0.06em;
  padding: 10px 32px 10px 32px;
}


.item {
    display: flex;
    align-items: center;
    color: var(--background-color-wan);
    justify-content: space-evenly;
    fill:var(--text-color);
}

.item:hover,
.item:focus {
  fill: var(--accent-color);
}

.contact-link {
  display: flex;
  align-items: center;
  color: var(--text-color);
  text-decoration: none;
}

.contact-link:focus {
  color: var(--accent-color);
  outline: 1px solid var(--accent-color);
  
}

.contact-link:focus .nav-item-icon {
  fill: var(--accent-color);
}

.button.primary .nav-item-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.button .nav-item-icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

/* end button */
/* end heder  */


/* hero */
.section-fon {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
  url("../images/fon.jpg");

  display: flex;
  align-items: center;
  text-align: center;

}



.hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-bottom: 30px;
}
/* end hero */


/* <!--Особливості--> */

/* .item-feature {

} */

.specificist-icon {
  width: 270px;
  height: 120px;
  background: #F5F4FA;
  border: 1px solid #F5F4FA;
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.specificist-icon:hover,
.specificist-icon:focus {
  border-color: var(--accent-color);

}

.item-feature:not(:last-child) {
   padding-right: 30px;
  padding-bottom: 10px;
}

.list {
  display: flex;

}

.container-specifics {
  padding-top: 30px;

}


.feature {
  padding-top: 94px;
}

.customers-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 170px;
  height: 92px;

  border: 1px solid #ECECEC;
  border-radius: 4px;
}

.customers-link.on,
.customers-link:focus,
.customers-link:hover {
  border: 1px solid #2196F3;



  outline: 0px solid var(--accent-color);
}

.customers-link:focus .customers-icon {
  fill: var(--accent-color);
}


.box-customers:not(:last-child) {
  margin-right: 30px;
}

.customers-icon {
  padding: 16px 32px;
  fill:#AFB1B8;
}

.customers-icon:focus,
.customers-icon:hover {
   fill: var(--accent-color);
}

.section-title-feature {
  visibility: hidden;
  margin-bottom: -30px;
}

.feature-list {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color:var(--title-text-color);
  padding-bottom: 10px;
}


/* <!--Чем ми занимаемся--> */
.works {
  text-align: center;
}

.section-title.works {
  margin-bottom: 50px;
}

.working {
  align-items: center;
  justify-content:space-between;
}


/*  команда */

.comanda {
    padding-top: 94px;
    background-color:var(--backgroynd-color-two);
}

.comand-item {
  text-align: center;

  background:var(--primary-white-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.section-title.comand {
  margin-bottom: 50px;
}

.comand-list {
  display: flex;
  align-items: center;
  justify-content:space-between; 
}

.name-container {
 padding: 30px 0;
}

.comand-name {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
  color:var(--title-text-color);
}

.p-name {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: #757575;
}


.section.customers {
  padding-top: 94px;
}

.box-customers-links {
  display: flex;
  align-items: center;
  justify-content:space-between; 
}

.box {
  width: 170px;
  height: 92px;
  left: 1215px;
  top: 2493px;
  
  border: 1px solid #AFB1B8;
  box-sizing: border-box;
  border-radius: 4px;
}

.section-title.customers {
  margin-bottom: 50px;
}



/* Портфоліо */

/* Меню */

.menu-links {
  padding-top: 94px;
  padding-bottom: 94px;
}

.menu-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.menu-items {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}
.menu-items .button {
  color:var(--title-text-color);
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.button.menu {
  padding:  6px 22px;
  border-radius: 4px;
  border: 0;
  background-color: #F5F4FA;
}

.button.menu.active {
  background-color:var(--accent-color);
  color:var(--primary-white-color);
}

.button.menu:hover,
.button.menu:focus {
  background-color:var(--accent-color);
  color:var(--primary-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
  0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
  outline: 0px;
}


/* <-- група послуг --> */

.menu-items:not(:last-child) {
  margin-left: 0;
  margin-right: 8px;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
}

.services-link {
  text-decoration: none;
}


.services-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  border: 0px solid var(--backgroynd-color-two);
 }

.services-item:hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
  0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
}

.services-item:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
  0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
}

.services-item img {
  display: block;
}

.services-item:nth-child(3n) {
  margin-right: 0;
}

.services-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.services-section {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  border-top: 0;
}

.services-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2.0;
  letter-spacing: 0.06em;
  color:var(--title-text-color);

  padding-bottom: 4px;
}

.services-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;

  color:var(--text-color);
}

.container.foter {
  display: flex;
}

.social {
  padding-left: 70px;
}

.social-list{
display:flex;
align-items: center;
position: relative;
}

.social-item {
  display: flex;
  justify-content: center;
  padding-right: 10px;
 }

.social-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}

.social-link:hover,
.social-link:focus{
  background:var(--accent-color);
  outline: 0;
}

.social-link:hover .social-icon-comand,
.social-link:focus .social-icon-comand {
  fill:var(--primary-white-color);  
}

.social-icon {
  fill:var(--primary-white-color);
}

.social-list-comand{
  display: inline-flex;
  margin-top: 10px;
}

.social-icon-comand {
  fill:#AFB1B8;
}


.feature-list.join{
  color: var(--primary-white-color);
  margin-top: 12px;
  margin-bottom: 20px;
}

